<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Loan Profit Termsheet</h1>

    <p>Dear <%= @user_name %>,</p>

    <p>Attached is your loan profit termsheet with the loan details</p>

    <p>Thank you for using our service.</p>

    <p>Best regards,</p>
    <p>Longleaf Lending</p>
  </body>
</html>
