<div class="bg-gray-100 p-8 rounded-lg shadow-lg">
  <div class="mx-auto max-w-2xl text-center">
    <h1 class="text-2xl">Thanks, <%= user_name %>! Here are those figures we promised.</h1>
    <h1 class="text-2xl">And again, check your email for the Longleaf term sheet</h1>
    <p>Your Estimated Profit: <%= number_to_currency(estimated_profit) %></p>
    <p>Return Rate: <%= return_rate %>%</p>
  </div>
</div>
