<h2>Hard Money Loan Profit Calculator</h2>
<p>Curious how your next project stacks up? Instantly estimate your project's project and return potential.</p>
<h3>Real Estate Profit and Return Calculator</h3>
<div id='loan_profit_form'>
  <%= render 'form' %>
</div>

