<nav class="mx-auto flex max-w-7xl items-center justify-between gap-x-4 p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-12 w-auto" alt="Longleaf Lending Logo" src="https://longleaflending.com/assets/longleaf_lending_logo-8876db04fa683bf88fe05494b2833eab76e7052a01f70454ede211cd01c3ea77.png">
      </a>
    </div>

    <div class="flex flex-1 items-center justify-end gap-x-6">
      <a href="#" class="hidden lg:block lg:text-sm lg:font-semibold lg:leading-6 lg:text-gray-900">Log in <span aria-hidden="true"></span></a>
      <a href="#" class="rounded-md bg-emerald-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-emerald-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-700 lg:text-sm lg:px-3 lg:py-2 text-xs text-center">Request a Loan</a>
    </div>
  </nav>